#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.builder-page {
  min-height: 100vh;
  padding: 24px;
}

.builder-page--UF {
  background-color: #f6fff6;
  min-height: 100vh;
}

.builder-page--WUF {
  background-color: #f0faff;
  min-height: 100vh;
}

.builder-page--WPCUF {
  background-color: #f5f4ff;
  min-height: 100vh;
}

.builder-page--PCUF {
  background-color: #fff4ea;
  min-height: 100vh;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
